@use '../../style';

.Banner-img {
    background-image: url('../../assets/food-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    margin-top: 2rem;

    .Banner-text {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: style.$btn-secondary;
    }
}