.Header_bg{
    height: 125px;
    background-color: pink;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
    img {
      width: 75px;
      height: 75px;
    }

    .Button {
      font-size: 20px;
      margin: 0 15px;
    }
  }