@use '../style';

.Header_bg{
    height: 125px;
    text-align: center;
    background-color: #ddcbb8;
    box-shadow: style.$shadow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
    .Nav-bts{
        grid-area: 1 / 1 / 2 / 2;
        .Button{
            font-size: 20px;
            margin: 0 15px;
            text-decoration: none;
        }
    }

    .Home_logo{
        grid-area: 1 / 2 / 2 / 3;
        img {
            width: 75px;
            height: 75px;
        }
    }

    .Social-media{
        grid-area: 1 / 3 / 2 / 4;

        .Btn {
            font-size: 30px;
            margin: 0 15px;
            color: inherit;
        }
    }
  }