.Footer-bg {
    height: 150px;
    margin-top: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    bottom: 0;
    position: fixed;
    width: 100%;

    .Footer-button {
        text-decoration: none;
        color: #9f9f9f;
        font-size: 20px;
        margin: 0 2rem;
    }

    .Footer-social {
        text-decoration: none;
        color: #9f9f9f;
        font-size: 30px;
        margin: 0 1rem;
    }
}
