
$shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(71, 52, 52, 0.3) 0px 8px 16px -8px;

.Align-middle {
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}
